.form-control {
	margin: 1rem 0;
}

.form-control label,
.form-control input,
.form-control textarea {
	display: block;
	font-size: 1.5rem;
	width: 100%;
}

.form-control input,
.form-control textarea {
	border: 2px solid #1e2504;
	font: inherit;
	border-radius: 2px;
}

button {
	margin-top: 10px;
	font: inherit;
	border: 1px solid 033a4b;
	font-size: 1.2rem;
	color: #033a4b;
	background-color: #ffffff;
	border-radius: 5px;
	cursor: pointer	;
}

button:hover, button:active {
	background-color: #b2f37d;
	color: #414141;
}
