include ../layouts/main-layout

block content
	main
		if products.length > 0
			ul
				each product in products
					li
						p #{product.title} (#{product.cartItem.quantity})
						form(action="/cart-delete-item", method="POST")
							- productId = product.id;

							input(type="hidden", name="productId", value=productId)
							button.btn(type="submit") Delete
		else
			h1 No Product in Cart
